@font-face {
    font-family: "Raleway-Medium";
    src: url("../fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

#global-container{
    flex: 0 1 1500px;
    margin: 0 50px 0 50px;
}

h1 {
    background-color: lightskyblue;
    font-family: Raleway-bold, sans-serif;
    font-size: 1.4em;
    margin-bottom: -10px;
}

h2 {
    font-family: Raleway-bold, sans-serif;
    font-size: 1.2em;
}

p {
    background-color: aquamarine;
    font-family: Raleway-Medium, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo-container {
    background-color: greenyellow;
    width: 65px;
}

#header-logo-container img {
    width: 100%;
    margin: 0;
}

nav {
    font-family: Raleway-Medium, sans-serif;
    height: 100%;
    min-width: 270px;
    width: 26%;
    max-width: 350px;
}

#nav-header-container {
    list-style: none;
    background-color: orange;
    height: 100%;
    margin: 0;
    padding: 0;
    /* sans margin et padding, son emplacement est décalé */
    display: flex;
}

.nav-header-item {
    background-color: greenyellow;
    text-align: center;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;

} 

.nav-header-item a {
    color: black;
    width: 100%;
    font-size: 1em;
    padding: 6vh 0 6vh 0;
    background-color: burlywood;
} 

.nav-header-item a:hover {
    color: #0065FC;
    box-shadow: inset 0px 2px #0065FC;
} 

#place-search-container {
    background-color: red;
    width: 420px;
    height: 50px;
    display: flex;
}

#place-search-item-1 {
    background-color: #D9D9D9;
    font-size: 20px;
    text-align: center;
    width: 50px;
    border-radius: 15px 0 0 15px;
    padding: 15px 0 15px 0;
}

#place-search-item-2 {
    flex: 1;
    border-style: none;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

input::placeholder {
    color: black;
    font-family: Raleway-Bold, sans-serif;
    font-size: 1.2em;
    padding-left: 15px;
  }

#place-search-item-3 {
    background-color: #0065FC;
    color: white;
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 1em;
    width: 135px;
    border: none;
    border-radius: 0 15px 15px 0;
}

#place-filter-container {
    background-color: red;
    margin: 30px 0 30px 0;
    display: flex;
}

.place-filter-content i {
    padding: 0 20px 0 20px;    
}

input[type="checkbox"].place-filter {
    visibility: hidden;
    /* Masque la case à cocher initiale*/
  }

input[type="checkbox"].place-filter + label {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 1.2em;
    padding: 0 20px 0 0;
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
    background-color: white;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    transition: background-color 0.3s;
  }

input[type="checkbox"].place-filter + label:hover {
    background-color: #DEEBFF;
  }

input[type="checkbox"]:checked + label {
    background-color: #DEEBFF;
  }

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog, .fa-info{
    color: #0065FC;
}

#remaining-place-container {
    background-color: red;
    display: flex;
    align-items: center;
}

#remaining-place-info {
    width: 25px;
    height: 25px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}