body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400; 
    display: flex;
    justify-content: center;
}

#global-container{
    flex: 0 1 1400px;
    margin: 0 50px 0 50px;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;    
    font-size: 1.2em;
}

a {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo-container {
    width: 65px;
}

#header-logo-container img {
    width: 100%;
    margin: 0;
}

nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    min-width: 270px;
    width: 26%;
    max-width: 350px;
}

#nav-header-container {
    list-style: none;
    margin: 0;
    padding: 0;
    /* sans margin et padding, son emplacement est décalé */
    display: flex;
}

.nav-header-item {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;

} 

.nav-header-item a {
    color: black;
    width: 100%;
    font-size: 1em;
    padding: 6vh 0 6vh 0;
} 

.nav-header-item a:hover {
    color: #0065FC;
    box-shadow: inset 0px 2px #0065FC;
} 

#place-search-section h1 {
    margin-bottom: -10px;
}

#place-search-container {
    width: 31%;
    display: flex;
}

#place-search-item-1 {
    background-color: #F2F2F2;
    font-size: 20px;
    text-align: center;
    border-radius: 15px 0 0 15px;
    padding: 15px 17px 15px 17px;
}

#place-search-item-2 {
    flex: 1;
    border-style: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 0 0 0 15px;
}

input::placeholder {
    color: black;
    opacity: 100;
    /* sert à contourner l'opacité réduite dans firefox*/
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
  }

input::-webkit-input-placeholder {
    position: relative;
    top: 2px;
    /*Sert à centrer verticalement le placeholder de l'input dans chrome*/
}

#place-search-item-3 {
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    padding: 0 20px 0 20px;
    border: none;
    border-radius: 0 15px 15px 0;
}

#place-filter-container {
    margin: 30px 0 30px 0;
    display: flex;
}

.place-filter-content i {
    padding: 0 20px 0 20px;    
}

input[type="checkbox"].place-filter {
    visibility: hidden;
    /* Masque la case à cocher initiale*/
  }

input[type="checkbox"].place-filter + label {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    height: 50px;
    padding: 0 20px 0 0;
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    transition: background-color 0.3s;
  }

input[type="checkbox"].place-filter + label:hover {
    background-color: #DEEBFF;
  }

input[type="checkbox"]:checked + label {
    background-color: #DEEBFF;
  }

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog, .fa-info{
    color: #0065FC;
}

#remaining-place-container {
    display: flex;
    align-items: center;
}

#remaining-place-info {
    font-size: 0.8em;
    width: 25px;
    height: 25px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upper-cards-container {
    display: flex;
    column-gap: 40px;
}

.upper-cards-background {
    background-color: #F2F2F2;
    padding: 20px 40px 20px 40px;
    margin: 25px 0 25px 0;
    border-radius: 20px;
}

#upper-cards-item-1 {
    flex: 2;
}

#upper-cards-item-2 {
    flex: 1;
}

#card-housing-container {
    margin: 30px 0 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;

}

.card-housing, .card-trend {
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #D9D9D9;
    transition: box-shadow 0.2s;
}

.card-housing {
    height: 190px;
}

.card-housing:hover, .card-trend:hover, .card-activities:hover {
    box-shadow: 0px 0px 10px gray;  
}

.card-housing-img img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 17.5px 17.5px 0 0;
}

.card-housing-text-container {
    padding: 0 10px 0 10px;
}

.card-housing h3, .card-trend h3 {
    font-size: 1em;
    margin: 4px 0 4px 0;
}

.card-housing p, .card-trend p {
    font-size: 0.9em;
    margin: 4px 0 4px 0;
}

.card-trend p {
    margin: 6px 0 4px 0;
}

.card-stars {
    margin: 6px 0 0 0;
    display: flex;
}

.fa-star {
    color: #F2F2F2;
    font-size: 0.9em;
}

.fa-star-received {
    color: #0065FC;
}

.trend-title {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.fa-chart-line {
    color: #0065FC;
    font-size: 1.2em;
    padding-top: 25px;
}

.card-trend-container {
    margin: 13px 0 40px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-trend {
    display: flex;
    height: 135px;
}

.card-trend-img {
    flex: 2;
}

.card-trend-text-container {
    flex: 3;
    margin: 10px 80px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-trend-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17.5px 0 0 17.5px;
}

.card-activities-container {
    display: flex;
    gap: 40px;
}

.card-activities {
    flex: 1;
    background-color: white;
    border-radius: 20px;
    margin: 40px 0 40px 0;
    box-shadow: 0px 0px 10px #D9D9D9;
    transition: box-shadow 0.2s;
}

.card-activities-img img {
    width: 100%;
    height: 390px;
    object-fit: conver;
    border-radius: 17.5px 17.5px 0 0;
}

.card-activities-title {
    padding: 0 0 8px 10px;
}